body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(5, 15, 30);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: grey;
  text-align: center;
  text-emphasis-style: bold;
}

#menuBar {
  background: rgb(5, 15, 30);
}

#SurveyCard {
  background-color: rgb(5, 15, 30);
  height: 100%;
  width: 800px;
  margin-left: 10rem;
  padding: 30px;
  border: rgb(5, 15, 30) 5px;
  color: black;
}

#logInCard {
  background-color: rgb(5, 15, 30);
  height: 20rem;
  width: 30rem;
  margin-left: -10rem;
  padding: 30px;
  border: rgb(5, 15, 30) 5px;
  color: black;
}

#createAcctCard {
  background-color: rgb(5, 15, 30);
  height: 53rem;
  width: 500px;
  margin-left: 40rem;
  padding: 30px;
  border: rgb(5, 15, 30) 5px;
  color: black;
}

.ui.card {
  background: transparent;
  border-color: rgb(5, 15, 30);
}

#updateAccount {
  background-color: rgb(5, 15, 30);
  border-color: rgb(5, 15, 30);
  height: 100%;
  width: 500rem;
  padding: 20px;
  opacity: 90%;
}

#questions {
  background: rgb(5, 15, 30);
  padding: 30px;
  padding-bottom: 50px;
  color: lightgray;
  font-size: 40px;
  border-radius: 10px;
  border-color: rgb(180, 58, 58) 5px;
  margin-bottom: 20px;
  opacity: 90%;
}

.answers {
  color: #ef291f;
}

#buttonClr {
  background: #ef291f;
  margin-right: 15px;
  color: white;
}

#surveyLists {
  font-size: 20;
  padding-left: -14px;
}

#mainButton {
  padding: 0;
}

h3 {
  color: #ef291f;
}

h1 {
  color: white;
}

#homeButton {
  margin-left: 100px;
}

.ui.grid {
  width: 76.5% !important;
}

.bigBox {
  margin-top: 1rem;
}

.ui.segment {
  opacity: 0%;
}
